
:root{
    --broedtekst: 'lato';
    --overskrift:'lato';
}

*{
     margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;
    }
    
    body, html { 
      height: 100%;
      width: 100%;
      overflow-x: hidden;
    }

    /* Typografi */

 h1{
     font-family: var(--overskrift);
     

 }  

 h2{
    font-family: var(--overskrift);
    

  }

h3{
    font-family: var(--overskrift);
    
  

}
h4{
    font-family: var(--overskrift);
    
  

}
p{
    font-family:var(--broedtekst);
    font-size: 18px;
 width: 60%;
  margin-left: auto;
  margin-right: auto;
}

li{
    font-family:var(--broedtekst);
    font-size: 18px;
    list-style-type:circle;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  
}

#overskrift {
    font-size: 20px;
    margin-left: 20%;
}

#overskrift2 {
    font-size: 20px;
    margin-left: 20%;
}

#kampagne {
    font-size: 40px;
    margin-left: 20%;
}


/* classes */

.pad{
    padding-left: 287px;
}

.pad2{
    padding-left: 563px;
}

.overskrift{
    font-size: 15px;
    margin-left: 20%;
}





    /* Billeder */
    #banner{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100%;
        
        
    }

    .oversigt {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        perspective: 250px;
    }

    .menupunkt {
        /* display: block;
        margin-left: auto;
        margin-right: auto; */
        height: 300px;
        
    }

    .oversigt .menupunkt {
        transition: 100ms;
        box-shadow: 0px 0px 0px rgba(0,0,0,0);
      }

      .oversigt .menupunkt:hover {
        transform: translate3d(10px,0px,20px);  
        box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
        }
    

    .lukmigind{
        color: aqua;
    }
    #studietformig {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
    }
    #someillu {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
    }
    #flow {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
    }
    #uniinfo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
    }
    #someeaa {
        display: block;
        padding-left: 287px;
        max-width: 70%;
    }
    #freja {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 60%;
    }

    .seoimg{
        display: block;
        padding-left: 290px;
        max-width: 55%;

    }

    .content {
        display: block;

      margin-left: auto;
        margin-right: auto;
        max-width: 60%;

    }
   
    .kalender{
        display: block;

        margin-left: auto;
          margin-right: auto;
          max-width: 60%;
    } 
    
    /* Andre elementer */

    /* log ind siden */


    #lukmigind{
        background-color: RGB(0, 130, 169);
    }

    #loginlogo{
        max-width: 100%;
        max-height: 100%;

    }
        
    

    #loginbutton{
        background-color: RGB(133, 180, 190);
        color: rgb(255, 255, 255);
        border-radius: 5px;
        font-family: var(--broedtekst);
        border: none;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

      
    }
    #logoututton{
        background-color: RGB(133, 180, 190);
        color: rgb(255, 255, 255);
        border-radius: 5px;
        font-family: var(--broedtekst);
        border: none;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

      
    }
        

    .cat{
        width: 500px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
       
    }

    .animer {
        animation: bounceIn 3s ease-in-out;
        font-size: 80px;
        text-align: center;
        font-family: var(--overskrift);
        color: white;
       
        
      }
      
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
      @keyframes bounceIn {
        0% {
          transform: scale(0.1);
          opacity: 0;
        }
        60% {
          transform: scale(1.2);
          opacity: 1;
        }
        100% {
          transform: scale(1);
        }
      }
      

      #password {
          text-align: center;
      }

      #logsec{
          padding-left: 630px;
          
      }