
:root{
    --broedtekst: 'lato';
    --overskrift:'lato';
}

*{
     margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;
    }
    
    body, html { 
      height: 100%;
      width: 100%;
      overflow-x: hidden;
    }

    /* Typografi */

 h1{
     font-family: var(--overskrift);
     

 }  

 h2{
    font-family: var(--overskrift);
    

  }

h3{
    font-family: var(--overskrift);
    
  

}
h4{
    font-family: var(--overskrift);
    
  

}
p{
    font-family:var(--broedtekst);
    font-size: 18px;
 width: 60%;
  margin-left: auto;
  margin-right: auto;
}

li{
    font-family:var(--broedtekst);
    font-size: 18px;
    list-style-type:circle;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
  
}

#overskrift {
    font-size: 20px;
    margin-left: 20%;
}

#overskrift2 {
    font-size: 20px;
    margin-left: 20%;
}

#kampagne {
    font-size: 40px;
    margin-left: 20%;
}

/* classes */

.pad{
    padding-left: 287px;
}

.pad2{
    padding-left: 563px;
}

.overskrift{
    font-size: 15px;
    margin-left: 20%;
}





    /* Billeder */
    #banner{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    .oversigt {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }

    .menupunkt {
        /* display: block;
        margin-left: auto;
        margin-right: auto; */
        height: 300px;
    }

    #lukmigind{
        color: aqua;
    }

    #someillu {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
    }
    #flow {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
    }
    #uniinfo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
    }
    #someeaa {
        display: block;
        padding-left: 287px;
        max-width: 70%;
    }
    #freja {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 60%;
    }

    .content {
        display: block;

      margin-left: auto;
        margin-right: auto;
        max-width: 60%;

    }
   
    .kalender{
        display: block;

        margin-left: auto;
          margin-right: auto;
          max-width: 60%;
    } 
    
    /* Andre elementer */